<h1>New Animals</h1>
<%= form_tag 'Pets', method: post dp %>
 <div>
 <% label_tag :name %>
 <%= text_field_tag :name %>
 <%= form_tag 'Pets', method: post dp %>
 </div>
 <div>
 <% label_tag :care %>
 <%= text_field_tag :care %>
 </div>
 <%= submit_tag "Create message" %>
 <% end %>

