<h1>Weather Forcast</h1>

<%= form_tag "/conditions", method: :get do %>
  <div>
    <%= label_tag :city %>
    <%= text_field_tag :city %>
  </div>
  <div>
    <%= label_tag :state %>
    <%= text_field_tag :state %>
  </div>
  <%= submit_tag "Submit" %>
<% end %>

Current Forcast: <%= @conditions['query']['results']['channel']['item']['forecast']%>

<%= @description.html_safe %>

<% @conditions[0..4].each do |condition| %>
  <div>
    <p><%= forcast["date"] %></p>
    <p><%= forcast["day"] %></p>
    <p><%= forcast["high"] %></p>
    <p><%= forcast["low"] %></p>
    <p><%= forcast["text"] %></p>
  </div>
<% end %>

 