<h1>New Show</h1>
<%= form_tag 'shows', method: :post do %>
  <div>
    <%= label_tag :genra %>
    <%= text_field_tag :genra %>
  </div>
  <div>
    <%= label_tag :body %>
    <%= text_field_tag :body %>
  </div>
  <%= submit_tag "Create message"
<% end %>
