<h1>Weather Forcast API</h1>

<%= form_tag "/forcasts", method: :get do %>
      <%= label_tag :city %>
      <%= text_field_tag :city %>
      <%= label_tag :state %>
      <%= text_field_tag :state %>
    <%= submit_tag "Submit" %>
  <% end %>    
      
<p>Current Temperature: <%= @temperature %> degrees</p>


<p>Forcast Data: </p>
<%= @forcasts[0..5].each do |forcast| %>
  <div>	
	<%= forcast["date"] %>
	<%= forcast["day"] %>
	<%= forcast["high"] %>
	<%= forcast["low"] %>
	<%= forcast["text"] %>
  </div>	
<% end %>
