<h1> All Sports </h1>
<% @sports.each_slice(3) do |three_sports| %>
  <div class="row">
   <% three_sports.each do |sport| %>
    <div class="col-md-4">
     <div class="well">
      <h2><a href="/sports/<%= sport.id %>"><%= sport.name %></a></h2>
      <img src="<%= sport.image %>" alt"">
      <p> Tools: <%= sport.tools %></p>
      <h4>Tools: </h4>
      <ul>
        <% sport.tools_list.each do |tool| %>
          <li><%= tool %></li>
        <% end %>
      </ul>    	
     </div>
    </div>
   <% end %> 
  </div> 
 <% end %>  