<h1>New Message</h1>
<%= form_tag '/sports', method: :post do %>
 <div>
   <%= label_tag :name %> 
   <%=  text_field_tag :name %> 
 </div>
 <div>
   <%= label_tag :tool %> 
   <%=  text_field_tag :tool %> 
 </div>
 <%= submit_tag "Create sport" %>
<% end %> 
