<h1>New Variety of Hunting</h1>
<%= form_tag '/hunters', method: :post do %>
  <div>
    <%= label_tag :sport %>
    <%= text_field_tag :sport %>
  </div>
  <div>
    <%= label_tag :season %>
    <%= text_field_tag :season %>
  </div>
    <%= submit_tag "Create new season" %>
  <% end %>